body{
	
	font-family:'Roboto',sans-serif;
}

.header-area{
	width:100%;
	height:80px;
	background-color:#010709;
	overflow:hidden;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}
h4{
	fixed:static;
	text-decoration:none;
	color:white;
	padding-left:10px;
}
.header-logo{
	width:124px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.main-menu{	
	float: right;
	text-decoration:none;
}
.main-menu ul{
	
}
body{
	background-color:#263238;
}
.main-menu ul li{
	
	display: inline-block;
	margin-top: 25px;
}
.main-menu ul li a{
	color: #FFFFFF;
	font-size: 16px;
	padding: 34px 15px;
	text-decoration:none;
}
.main-menu ul li a:hover{
	background-color:#DB3F1E;
}

.slider-area{
	background-image: url(cover.jpg);
	background-position: bottom;
	background-size: cover;
	/*! background-attachment: fixed; */
	background-repeat: no-repeat;
	position: relative;
	z-index: 99;
}
.slider-area::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: .7;
	z-index: -1;
}
.slider{
}
.slider h1{
	text-align: center;
	font-size: 45px;
	color: #FFFFFF;
	padding-top: 200px;
}
.slider p{	
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding-top: 27px;
}
.slider a.box-btn{	
	color: #FFFFFF;
	text-transform: capitalize;
	margin-left: 466px;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 85px;
	background-color: #581845  ;
	border-radius: 4px;
	margin-bottom: 180px;
	font-size: 18px;
	text-decoration:none;
}
.slider a.border-btn{
	color: #FFFFFF;
	text-transform: capitalize;
	padding: 10px 35px;
	display: inline-block;
	margin-top: 85px;
	margin-left: 70px;
	border: 5px solid #581845  ;
	border-radius: 4px;
	margin-bottom: 180px;
	font-size: 18px;
	text-decoration:none;
}
.slider a.border-btn:hover{
	background-color: #581845  ;
}

.about-area {
	background-color: #AEB6BF;
	overflow:hidden;
	text-decoration:none;
	
}
.boundary{
	margin-left:30px;
}
.section {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	text-decoration:none;
}
.section h1 {
	font-size: 38px;
	color: #800000;
	padding-bottom: 50px;
	position:relative;
	text-decoration:none
	text-shadow: 2px 2px #FF0000;
}
.section h1::before {
	position: absolute;
	content: "";
	width: 140px;
	height: 3px;
	background-color: #800000;
	right: 50%;
	margin-right: -70px;
	bottom: 20px;
	text-decoration:none;
}
.section h1::after {
	position: absolute;
	content: "";
	width: 70px;
	height: 13px;
	background-color: #800000;
	left: 50%;
	margin-left: -35px;
	bottom: 15px;
	text-decoration:none;
}
.section p {
	font-size: 18px;
	color: #000;
	padding-top: 20px;
	word-spacing: 4px;
	text-decoration:none;
}
.about-single-box {
	width: 370px;
	float: left;
	border: 5px 2px 2px 2px;
	margin:20px 20px 20px 4px;
	border-top: 8px solid #800000;
	margin-left: 30px;
	border-right: 2px solid #800000;
	border-bottom: 2px solid #800000;
	border-left: 2px solid #800000;
	position: relative;
	transition:.3s;
	text-decoration:none;
}
.about-single-box:hover i.fa.fa-thumbs-up{
	border-radius:25px 0px 25px 0px;
	left:0; 
	transition:.3s;
}
.about-single-box i.fa.fa-thumbs-up {
	font-size: 40px;
	color: #FFFFFF;
	background-color: #800000;
	position: absolute;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 50%;
	left: 50%;
	margin-left: -40px;
	top: -48px;
	padding-left: 20px;
}
.about-single-box h2 {
	text-align: center;
	padding-top: 66px;
	color: #000;
	padding-bottom: 20px;
	font-size:19px;
	text-decoration:none;
	color: black;
}

.about-single-box p {
	text-align: center;
	color: #000;
	font-size: 15px;
	padding: 0px 19px;
	padding-bottom: 59px;
	font-family: 'Slabo 27px', serif;
	font-weight:400;
	text-decoration:none;
}

.footer-area {
	overflow: hidden;
	height: 185px;
	background-color: #333333;
	color: #ffffff;
	margin-top: 100px;
}
.footer-area ul {
	margin: 55px 0px 0px 406px;
	position: center;
}
.footer-area ul li {
	display: inline-block;
	transition:.3s;
	position: center;
}
.footer-area ul li a{
	color:#ffffff;
	position:center;
	position: center;
}
.footer-area ul li:hover{
	transition:.3s;
	transform:translateY(-10px);
	position: center;
}

.footer-area p {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	font-weight:400;
}



